.venv/
.vscode/

*/__pycache__/

PointNet/object_classification/data/
PointNet/object_classification/models/
PointNet/object_classification/__pycache__/
PointNet/scene_classification/data/
PointNet/scene_classification/models/
PointNet/scene_classification/__pycache__/

src/__pycache__/
src/evaluation_metrics.json

Linemod/rgb/
Linemod/object_classification/GTG_OBJECT_SEEDS_R.hdf5
Linemod/object_classification/__pycache__/
Linemod/object_classification/data/
Linemod/RSVnet/data/
Linemod/RSVnet/__pycache__/

RSVnet/data/
RSVnet/models/
RSVnet/__pycache__/